
body{
  margin: 0;
  padding: 0;
  background-size: cover;
  

}
a{
  color: currentColor;
}
  .header .container {
  display: flex;
  justify-content: space-between;
  align-items:end;
  margin-top: 0px;
  
}

.barra{
  border-top:rgb(255, 255, 255) solid 0.6vh;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 5vh
}

.header a {
  font-size:4vh;
  text-decoration: none;
  color: #ffffff;
  transition: 0.3s;
align-items: end;
display: flex;
}

a:hover {
  opacity: 0.7;
  font-size: 4.5vh;
}

/* .paginaSelecionada {
  font-weight: 800;
} */


.navbar {
  width:  40vh;
  margin-right: 10vh;
  display: flex;
  /* margin-left: vh; */
  justify-content: space-between;
  list-style: none;
  color: #ffffff;
  /* padding-right: 10vh; */

}
#name{
  /* margin-left: 20vh; */
  margin-bottom: 2vh;
  margin-right: -10vh;
}  
.buttom {
  width: 400px;
  height: 90px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  padding: 18px 25px;
  padding-bottom: -70px;
  display: inline-block;
  margin-top: 30px;
  background-color: transparent;
  font-weight: bold;
  color: rgb(255, 255, 255);
  border: 4px solid white;
  text-decoration: none;
  text-shadow: 1px 1px 20px #000000;
}

.buttom a:hover {
  opacity: 0.7;
  font-size: 25px;
}

.title {
  color: #ffffff;
  font-size: 22vh;
  margin-top: 20vh;
  text-shadow: 1px 1px 20px #000000;
}

.subtext {
  font-size: 4vh;
  color: #ffffff;
  text-shadow: 10px, black;
  font-family: solway-bold;
}

#name {
  margin-left: 0px;
  margin-bottom: 12px;
}

.banner1 {
  justify-content: center space-between;
  align-items: center;
  display: flex;
}

.tittle {
  padding-top: 10vh;
  font-size: 10vh;
  padding-left: 12vh;
  margin-top: 0px;
}


.desc2 {

  padding-left: 10vh;
  padding-right: 200px;
  font-size: 30px;
}

.img1 {
  padding-top: 20vh;
  margin-left: 12vh;
  height: 60vh;
  width: 60vh;

}

.img2 {
  padding-top: 20vh;
  margin-left: 8vh;
  height: 60vh;
  width: 70vh;

}

.banner2 {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.tittle2 {
  padding-top: 0px;
  font-size: 100px;
  padding-left: 200px;
  margin-top: 0px;
  display: flex;
}


.desc3 {

  display: flex;
  padding-left: 200px;
  font-size: 30px;
}

#div_img3 {
  display: flex;
  margin-right: 30vh;
}
.fonte{text-decoration: none;}