
body {
    margin: 0;
    padding: 0;
    background-size: cover;


}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 0px;

}

.barra {
    border-top:#371f09 solid 3px;
    width: 90%;
    margin-left: 5%;
    
}

.header a {
    font-size: 3vh;
    text-decoration: none;
    color: #371f09;
    transition: 0.3s;
    align-items: end;
    display: flex;
    justify-content: space-between;
    
}


a:hover {
    opacity: 0.7;
    font-size: 3vh;
}

.paginaSelecionada {
    font-weight: 800;
}

.navbar {
    width:  100vh;
    
    display: flex;
    margin-left: 62vh;
    justify-content: space-between;
    list-style: none;
    color: #ffffff;
    /* padding-right: 10vh; */

}

.fundoP {
    background-color: #fef7f2;
    width: 100%;
    background-size: cover;
    height: 1100px;

}

.aD{
    font-size: 35px;
    text-decoration: none;
    color: #371f09;
    transition: 0.3s;
    align-items: end;
    display: flex;
    
    
}



.container2 {
    display: flex;
    justify-content: space-between;


}
/* #imagem1{
  margin-top: 10vh;
    width: 25vh;
    height: 40vh;

}

#imagem2{
    margin-top: 10vh; 
    width: 25vh;
    height: 40vh;

}

#imagem3{
    margin-top: 10vh; 
    width: 25vh;
    height: 40vh;

}

#imagem4{
    margin-top: 10vh; 
    width: 25vh;
    height: 40vh;
    padding-right: 10vh;
}

#imagem5{
    margin-top: 10vh; 
    width: 25vh;
    height: 40vh;
    padding-right: 10vh;

}

#imagem6{
    margin-top: 10vh; 
    padding-right: 10vh;
    height: 40vh;

} */

.imagemc{

    width: 45vh;
    height: 40vh;
}
#teste{
    margin-top: 5%;
    margin-right: 4vh;
    align-items: center;
justify-content: space-evenly;

}

.botao{ color: #ffffff;
    background-color: #371f09;
    margin-left: 36%;
    width: 30%;
    height: 13%;
    border-radius: 5vh;
font-size: 200%;
margin-top: 3%;
}
button:hover{
    color: #ffffff;
    background-color: #512f10;
    margin-left: 36%;
    width: 31%;
    height: 14%;
    border-radius: 5vh;
font-size: 200%;
margin-top: 3%;

}