body {
    margin: 0;
    padding: 0;
    background-size: cover;


}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 0px;

}

.barra {
    border-top:#371f09 solid 3px;
    width: 90%;
    margin-left: 5%;
    
}

.header a {
    font-size: 3vh;
    text-decoration: none;
    color: #371f09;
    transition: 0.3s;
    align-items: end;
    display: flex;
    justify-content: space-between;
    
}


a:hover {
    opacity: 0.7;
    font-size: 3vh;
}

.paginaSelecionada {
    font-weight: 800;
}

.navbar {
    width:  100vh;
    
    display: flex;
    margin-left: 5vh;
    justify-content: space-between;
    list-style: none;
    color: #ffffff;
    padding-right: 10vh;

}

/* #name {
    margin-left: 150px;
} */

.fundoP {
    background-color: #fef7f2;
    width: 100%;
    background-size: cover;
    height: 100vh;

}

.a{
    font-size: 35px;
    text-decoration: none;
    color: #371f09;
    transition: 0.3s;
    align-items: end;
    display: flex;
    
    
}
.containter3{
    background-color: #fef7f2;
    height: 98vh;
    display: flex;
}

.tipos{
    display: none;
    width: 40vh;
background-color: #371f09;
height: 100vh;

}
#mostrar{
    
width: 5vh;
height: 5vh;

}
#Tittle{
    padding-left: 3vh;
    color: #ffffff;
    margin: center;
    font-size: 5vh;
    margin-bottom: 3vh;
}

#Tcarnes{
    padding-left: 3vh;
    color: #ffffff;
    margin: center;
    font-size: 4vh;
    padding-right: 3vh;
    
}
#Pontos{
    padding-left: 2vh;
    color: #ffffff;
    margin: center;
    font-size: 4vh;
    padding-right: 2vh;

}
/* #Como{
    padding-left: 1vh;
    color: #ffffff;
    margin: center;
    font-size: 3vh;
    padding-right: 0vh;
    
}
#pratos{
    padding-left: 1vh;
    color: #ffffff;
    margin: center;
    font-size: 3vh;
    padding-right: 0vh;
    margin-top: ;
} */

.aC{
    font-family: HammersmithOne;
    color: #ffffff;
    font-size: 2vh;
    margin-bottom: 2vh;
    margin-right: 3vh;
    margin-left: 1vh;
}
.aCp{
    font-family: HammersmithOne;
    color: #ffffff;
    font-size: 3vh;
    margin-bottom: 2vh;
    margin-right: 40vh;
    margin-left: 1vh;
}
.aCt{
    font-family: HammersmithOne;
    color: #ffffff;
    font-size: 3vh;
    margin-bottom: 2vh;
    margin-right: 30vh;
    margin-left: 1vh;
}

.aCU{
    font-family: HammersmithOne;
    color: #ffffff;
    font-size: 3vh;
    margin-bottom: 2vh;
    margin-right: 40vh;
    margin-left: 1vh;
}

.aCc{
    font-family: HammersmithOne;
    color: #ffffff;
    font-size: 3vh;
    margin-bottom: 2vh;
    margin-right: 10vh;
    margin-left: 1vh;
}

.aCM{
    font-family: HammersmithOne;
    color: #ffffff;
    font-size: 3vh;
    margin-bottom: 2vh;
    margin-right: 20vh;
    margin-left: 1vh;
}

.aCA{
    font-family: HammersmithOne;
    color: #ffffff;
    font-size: 3vh;
    margin-bottom: 2vh;
    margin-right: 25vh;
    margin-left: 1vh;
}


.aCB{
    font-family: HammersmithOne;
    color: #ffffff;
    font-size: 3vh;
    margin-bottom: 2vh;
    margin-right: 20vh;
    margin-left: 1vh;
}


.videosL1{
    height: 40vh;;
    width: 62vh;
    margin-top: 2vh; 
    padding-left: 5vh;
    border-radius: 30px 30px 30px 30px;
}
.videosL2{
    height: 40vh;;
    width: 62vh;
    margin-top: 2vh; 
    padding-left: 5vh;
    border-radius: 30px 30px 30px 30px;
}
